div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  height: 12rem;
}

a {
  font-size: 0.8 rem;
  color: #e5e4e2;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
  cursor: pointer;
}
