ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  height: 20rem;
  width: 15rem;
  border: 1px solid beige;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #9B8AC3;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;;
}

li a img {
  object-fit: cover;
  height: 14.5rem;
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}


.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
}

.favorite.not {
  color: black;
}
