<header>
  <div class="container">
    <a routerLink="/" class="logo">fish</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/signup">Sign Up</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Dashboard</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a>Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
